---
import BaseLayout from '../layouts/BaseLayout.astro';
import type { MarkdownInstance } from 'astro';
import { truncateHtml } from '../utils/truncateHtml';
import { NUM_CHARACTERS_DESCRIPTION } from '../utils/consts';

export async function getStaticPaths() {
  const posts = (await Astro.glob('../../posts/*.md')) as MarkdownInstance<Record<string, any>>[];
  return posts.map(p => {
    const slug =p.file.split('/').pop()?.split('.').shift()
    return {
    params: { slug },
    props: { post: p, slug },
  }});
}

const { Content, frontmatter, compiledContent } = Astro.props.post;
const { title,  publishDate } = frontmatter;
const description = truncateHtml(compiledContent().slice(0, NUM_CHARACTERS_DESCRIPTION))
const slug = Astro.props.slug
const permalink = `${Astro.site?.href}${slug}`;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <header>
    <p>{new Date(publishDate).toLocaleDateString()}</p>
    <h1>{title}</h1>
    <hr />
  </header>
  <div class="article-container">
    <article class="content">
      <Content />
    </article>
  </div>
</BaseLayout>

<style>
  header {
    text-align: center;
    max-width: 50rem;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
